<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>sudoku-runner</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>page.html</welcome-file>
		<welcome-file>page.htm</welcome-file>
		<welcome-file>page.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SudokuLoader</servlet-name>
		<servlet-class>servlets.SudokuLoader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SudokuLoader</servlet-name>
		<url-pattern>/guess</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SudokuPropertiesLoader</servlet-name>
		<servlet-class>servlets.SudokuPropertiesLoader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SudokuPropertiesLoader</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
</web-app>